Django==5.0.3
Pillow
Pillow
protobuf
Requests
urllib3
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos

