{% extends 'basic.html' %}
{% block title %} Settings Title {% endblock %}
{% block content %} 
<div class="my-custom-class">
        <h3>Image generator</h3>
    </div>

{% endblock %}

{% block input %}
<div class="search-bar-main" id="search-bar-main">
    <form id="image-form" method="post" enctype="multipart/form-data" >
       
        <input id="inputText" type="text" name="user_input" id="inputText" placeholder="Search.....">
        <button id="search-button" type="submit">Search</button>
    </form>

   
</div> 
{% endblock %}
{% block image %}
<div class="banner">
    <img id="generated-image" class="custom-block-image img-fluid" src={{generated_image}} alt="{{generated_image}}">

    
</div>
{% endblock %} 

{% block body %} {% endblock %}
        

