{% extends 'basic.html' %}
{% block title %} Settings Title {% endblock %}
{% block content %} 
<div class="my-custom-class">
        <h3>Image Upscaling using Ai</h3>
    </div>

{% endblock %}
{% block input %}
<form  id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'image-upscale' %}">
  {% csrf_token %}
  <input type="file" id="fileInput"  name='file' accept="image/*">
  <button id="uploadButton" type="submit" >Upload</button>
</form>

{% endblock %}
{% block body %} {% endblock %}
        

