{% extends 'basic.html' %}
{% block title %} Settings Title {% endblock %}
{% block content %} 
<div class="my-custom-class">
        <h3>Readme generator</h3>
    </div>

{% endblock %}
{% block input %}
<div class="search-bar-main" id="search-bar-main">
  <form id="image-form" method="post" enctype="multipart/form-data" >
     
      <input id="inputText" type="text" name="user_input" id="inputText" placeholder="Search.....">
      <button id="search-button" type="submit">Generated ReadMe</button>
  </form>

</div> 

{% endblock %}
{% if  response %}
{% block gen_output %}
<h2>Generated Response:</h2>

<div class="output">
  <p>{{ generated_response }}</p>
</div>






 {% endblock %}
 {% endif %}


{% block body %} {% endblock %}
        

